<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lightbulbround"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lightbulbround"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPICommunicator_V1">
        <activity
            android:name=".component.comparing.ComparingElementActivity"
            android:exported="false" />
        <activity
            android:name=".component.comparing.ComparingListActivity"
            android:exported="false" />
        <activity
            android:name=".component.comparing.AddComparingListActivity"
            android:exported="false" />
        <activity
            android:name=".component.comparing.AddComparingElementActivity"
            android:exported="false" />
        <activity
            android:name=".component.plant.PlantOverview"
            android:exported="false" />
        <activity
            android:name=".component.general.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".component.bike.BikeTourActivity"
            android:exported="false" />
        <activity
            android:name=".component.plant.PlantView"
            android:exported="false"
            android:label="@string/title_activity_plant_view"
            android:theme="@style/Theme.RPICommunicator_V1.NoActionBar" />
        <activity
            android:name=".component.general.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.rpicommunicator_v1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>