<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rpicommunicator_v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lightbulbround"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lightbulbround"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPICommunicator_V1">
        <activity
            android:name=".ViewAndModels.PlantOverview"
            android:exported="false" />
        <activity
            android:name=".ViewAndModels.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAndModels.BikeTourActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAndModels.PlantView"
            android:exported="false"
            android:label="@string/title_activity_plant_view"
            android:theme="@style/Theme.RPICommunicator_V1.NoActionBar" />
        <activity
            android:name=".ViewAndModels.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>